/* Diğer css Dosyaları */

@import url(../../../general-style.css);
@import url(../../../mobile.css);

/* Komite Başlığı */

.komite-basligi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.komite-adi {
  color: green;
  text-align: center;
}

.komite-logosu img {
  max-width: 250px;
}

/* Resimler */

#komite-resim {
  box-sizing: border-box;

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.resim-komite {
  display: flex;
  padding: 20px 0px;
}

.resim-komite img {
  max-width: 100%;
}

.ekip-takim-baslik {
  text-align: center;
  color: green;
}

/* İK */

.ik-social .fa-brands,
.ik-social .fa-solid {
  color: #fff;
  padding: 15px;
  margin-top: 10px;
}

.ik-social .fa-brands:hover,
.ik-social .fa-solid:hover {
  color: green; /* Hover durumunda beyaz renk */
  transform: scale(1.2); /* Hafif büyüme efekti */
  transition: color 0.3s ease, transform 0.3s ease;
}

.ik-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

.ik {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 40%;
}

.ik img {
  border-radius: 50%;
  max-width: 100%;
  padding: 10px;
}

.title {
  color: green;
  padding: 5px;
  text-align: center;
}

.isim {
  color: #fff;
  padding: 5px;
  text-align: center;
}

/* Modal stilleri */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: black;
  padding: 30px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
}

.event-link {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.event-link:hover {
  opacity: 0.8;
}

.event-button {
  background-color: green;
  text-align: center;
  padding: 5px;
  transition: 0.5s;
}

.event-button:hover {
  background-color: white;
}

/* Video */

.video {
  margin: 75px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.video video {
  height: 70vh;
  margin: 10px 10px;
}

body {
  background: black;
}

/* Slogan */

.slogan-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  height: 50px;
  color: green;
}

.slogan-word {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slogan-backgraund {
  position: absolute;
  color: #ffffff3e;
  z-index: -1;
}
@media (max-width: 490px) {
  .slogan-container {
    font-size: 1.5rem;
  }
}
@media (max-width: 385px) {
  .slogan-container {
    margin-top: 40px;
    font-size: 1.3rem;
  }
}

.show {
  opacity: 1;
}

.full {
  opacity: 1;
}

/* Takım */

.takim {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.takim-birim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.unit {
  color: white;
  width: 250px;
  padding: 5px;
  margin: 10px;
  background-color: green;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.unit:hover {
  background-color: #333;
}

.members {
  display: none;
  padding: 10px;
  background-color: green;
  border-radius: 8px;
  margin-top: 5px;
}

.members ul {
  list-style: none;
  padding: 0;
}

.members li {
  padding: 5px 0;
}

.takim-uye {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.takim-uye img {
  border-radius: 50%;
  max-width: 75px;
  padding-right: 10px;
}

